global:
  resolve_timeout: 1m

route:
  group_by: ['alertname']
  group_wait: 10s
  group_interval: 30s
  repeat_interval: 1h
  receiver: 'webhooks'
receivers:
- name: 'webhooks'
  webhook_configs:
  - url: 'http://podman:8084/${WEBHOOK_UUID}'
  - url: 'http://eda-controller:5050/prometheus'
