version: '3'
services:
  prometheus:
    image: docker.io/prom/prometheus:latest
    user: root
    privileged: true
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - ./alert.rules:/etc/prometheus/alert.rules
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - 9090:9090

  # alertmanager:
  #   build:
  #     context: .
  #     dockerfile: alertmanager-dockerfile
  #   user: root
  #   privileged: true
  #   volumes:
  #     - ./alertmanager-startup.sh:/alertmanager-startup.sh
  #     - ./alertmanager.yml.template:/alertmanager.yml.template
  #   entrypoint: ["/bin/sh", "/alertmanager-startup.sh"]
  #   ports:
  #     - 9093:9093

  alertmanager:
    image: docker.io/prom/alertmanager:latest
    ports:
      - "9093:9093"
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'